/**
* container
*/ 
.container_mention {
    margin-top: 60px;
    p {
        color: #9ea99e;
        font-family: Arial,'Arial Narrow Bold', sans-serif;
    }
    .titre {
        color: #1b1d1b;
        font-size: 1.3rem;
    }
    .titre_premier {
        font-weight: bold;
    }
    .titre_mention {
        color: #000000;
    }
}