{% extends 'admin.base.html.twig' %}

{% block title %}Créer un nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un produit</h1>

    {{ include('admin/produit/_form.html.twig') }}

    <a href="{{ path('produit_index_admin') }}" class="btn btn-secondary">retour</a>
{% endblock %}

